
{%extends "base.html"%}

{%block content%}
    <section class="page-section cta" >
        <div class="container">
            <div class="row">
                <div class="col-11 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">¿Te gustaría apoyar a la comunidad guinda-blanco?</span>
                            <span class="section-heading-lower">¡Únete al hack este 14 y 15 de agosto!</span>
                        </h2>
                        <p class="mb-0">Usa  la tecnología y tus habilidades  para generar soluciones digitales que apoyen a la comunidad politécnica durante
                            la modalidad en línea y durante el regreso a clases presenciales. </p>
                        <br>
                        <p class="mb-0"> El evento motiva la participación de equipos multidisciplinarios, cualquiera que sea tu escuela - 
                            <b>ESFM, ESIQIE, ESCOM, ESCA</b>, etc. - tú puedes ser parte de esta iniciativa. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta" >
        <div class="container">
            <div class="row">
                <div class="col-11 mx-auto">
                    <iframe src="https://www.youtube.com/embed/88d58KSxkLQ" width="100%" height="400px" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </section>  
    

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://i.ibb.co/NjLPNTN/imagen-2021-07-22-174038.png"  alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Contexto</span>
                        <!-- <span class="section-heading-lower">¡ESFM-X te inivita a ser parte del hack!</span> -->
                    </h2>
                    <p class="mb-3" style = "text-align:justify;">
                        La pandemia tomó al mundo por sorpresa y obligó tanto a alumnos como
                        profesores a ajustarse a una enseñanza en línea en poco tiempo. Ahora, un
                        año después y sabiendo que el semestre 2022-1 iniciará nuevamente en la
                        modalidad a distancia, se plantea el reto de crear e innovar herramientas
                        indispensables a fin de que toda la comunidad educativa le saque el máximo
                        beneficio a esta nueva forma de educación.
                    </p>
                    <!-- <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div> -->
                </div>
            </div>
        </div>
    </section>

   

    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://i.ibb.co/zQGtFT4/masthead-2.png" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">La iniciativa</span>
                                <!-- <span class="section-heading-lower">los ORGANIZADORES</span> -->
                            </h2>
                            <p>Es en este contexto que ESFM-X crea la iniciativa Hackathon ESFM-X 2021, impulsada por el
                                cuerpo directivo y docente de la Escuela Superior de Física y Matemáticas del IPN. El evento busca
                                generar e innovar soluciones basadas en tecnología que puedan ayudar a las comunidades del IPN
                                en modalidad a distancia y apoyar el regreso a clases presenciales. Es un esfuerzo en el que todos
                                los estudiantes podemos aportar nuestras ideas y habilidades para mejorar la educación a
                                distancia dentro de la institución.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
{%endblock%}