
{%extends "base.html"%}
{%load static%}
{%block content%}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'assets/img/intro.jpg'%}" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Acerca del</span>
                        <span class="section-heading-lower">HACKATHON</span>
                    </h2>
                    <p class="mb-3" style = "text-align:justify;">La iniciativa Hackathon ESFM-X es liderada y organizada por la división X de ESFM en
                        coordinación con profesores y ex alumnos de la ESFM. ESFM-X busca impulsar la creación de tecnologías 
                        y aplicaciones que beneficien a la comunidad politécnica a través de los clubes y comunidades que crea durante cada semestre; el
                        Hackathon ESFM-X  es el evento en el que los estudiantes podrán poner a prueba sus 
                        habilidades y desarrollar sus ideas solucionando las problemáticas que se plantean.</p>
                    <!-- <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div> -->
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Abierto a todo mundo:</span>
                            <span class="section-heading-lower">¡No necesitas saber programar!</span>
                        </h2>
                        <p class="mb-0">El evento motiva la participación de equipos multidisciplinarios, por lo que sólo necesitarás una idea y ganas de trabajar en equipo. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style = "width:50%; margin-left:auto; margin-right:auto;">
        <iframe width="100%" height="400px"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>
{%endblock%}